.DS_Store
.env/*
*.pyc
*.swp
data/glove/*
data/raw_data/*
data/penn_treebank/*
data/preprocessed_data/*
MaLi_GAN/data/*
MLE_GAN/target_generate/*
MLE_GAN/save/*
MLE_GAN/data/*
MaLi_GAN/pretrained.data*
MaLi_GAN/pretrained.data*
